$top: 15%;
$topMobile: -14%;
//mobile design
.navContainer{
    padding-top: 0;
    width: 100%;
    font-family: 'Varela Round', sans-serif;
}

.navigationForm {
    // display: flex;
    // flex-direction: column;
    width: 100%;
}

.searchInputDiv {
    margin: 0 2.3% 0 0;

    input{
        padding: 2%;
        width: 100%;
    }  
}

.sortDiv{
    display: flex;
    flex-direction: row;
    margin: 4% 2% 0 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.sortBy {
    margin-right: 1%;
    position: relative;
    padding-top: 3.9%;
    font-size: 13px;
}

.category {
    position: relative;
    width: 100px;
    margin-right: 4.5%;
    padding-top: 1.5%;

    div{
        position: absolute;
        top: $topMobile;
        left: 10%;
        line-height: 1.3;
        font-size: 11px;
        background-color: white;
    }

    select {
        padding: 4%;
    }
}

.order {
    position: relative;
    width: 100px;
    margin-right: 1%;
    padding-top: 1.5%;

    div{
        position: absolute;
        top: $topMobile;
        left: 10%;
        line-height: 1.3;
        font-size: 11px;
        background-color: white;
    }
    select {
        padding: 4%;
    }
}

.date {
    position: relative;
    width: 100px;
    // margin-right: 0.5%;
    padding-top: 1.5%;
    margin-top: 2.3%;

    div{
        position: absolute;
        top: $topMobile;
        left: 10%;
        line-height: 1.3;
        font-size: 11px;
        background-color: white;
    }
    select {
        padding: 4%;
    }
}

@media only screen and (min-width: 760px) and (max-width: 1000px){
    .date {
        margin-top: 0;
    }

    .sortBy {
        margin-right: 0;
        padding-top: 1.9%;
    }

}

//web design
@media only screen and (min-width: 1001px) {
.navContainer{
    padding-top: 1%;
    width: 100%;
    font-family: 'Varela Round', sans-serif;
}

.navigationForm {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.searchInputDiv {
    margin: 1% 0 0 0;

    input{
        padding: 2%;
        width: 280px;
    }

}

.sortDiv{
    display: flex;
    flex-direction: row;
    margin: 0% 0 0 4%;
    justify-content: flex-end;
    width: 100%;
}

.sortBy {
    margin-right: 1%;
    position: relative;
    padding-top: 1.9%;
    font-size: 13px;
}

.category {
    position: relative;
    width: 100px;
    margin-right: 3%;
    padding-top: 1.5%;

    div{
        position: absolute;
        top: $top;
        left: 10%;
        line-height: 1.3;
        font-size: 11px;
        background-color: white;
    }

    select {
        padding: 4%;
    }
}

.order {
    position: relative;
    width: 100px;
    margin-right: 3%;
    padding-top: 1.5%;

    div{
        position: absolute;
        top: $top;
        left: 10%;
        line-height: 1.3;
        font-size: 11px;
        background-color: white;
    }
    select {
        padding: 4%;
    }
}

.date {
    position: relative;
    width: 100px;
    padding-top: 1.5%;
    margin-top: 0;

    div{
        position: absolute;
        top: $top;
        left: 10%;
        line-height: 1.3;
        font-size: 11px;
        background-color: white;
    }
    select {
        padding: 4%;
    }
}
  }

